<% include ./partials/header.ejs %>

<div class="w-full min-h-screen bg-[#f5f5f5] px-10 py-10 mt-2">
<div class="cards rounded-lg columns-1 sm:columns-2 text-white md:columns-3 lg:columns-4 gap-6">  
       <% allposts.forEach(function(elem) { %>
<a href="/show/posts/<%= elem._id %>" class=" shadow-md   "> 
    <div class="   overflow-hidden bg-white hover:shadow-xl mb-6">
        <% if(elem.img) { %>
        <img
        src="/images/uploads/<%= elem.img %>"
        class="w-full h-full  object-cover" 
        />
        <% } else { %>
        <div class="bg-gray-200 w-full h-full flex items-center justify-center">
          <span class="text-gray-500">No Image Uploaded by User.</span>
        </div>
        <% } %>

        <h5 class=" text-sm text-black font-medium opacity-60 pl-2"><%= elem.title  %> </h5>
        
        <h5 class=" text-sm text-black font-medium opacity-60 pl-2 ">Posted by <%= elem.user ? elem.user.username : "unknown" %> </h5>
        
        <h5 class=" text-sm text-black font-medium opacity-60 pl-2 ">Likes: <%= elem.likes.length %> </h5>
        <form action="/post/<%= elem._id %>/likes" method="POST"> <button 
              type="submit"
              class="flex items-center card gap-1.5 hover:text-red-600  transition-colors"
            >
              <span class="text-lg ">❤️</span>
              <span class="font-medium">
                <%= elem.likes ? elem.likes.length : 0 %>
              </span>
            </button></form> 
         
    </div>
</a>
       <% }); %>
</div>
</div>

<% include ./partials/footer.ejs %>





